@model Projet_ASP_books.Models.UserModel

@{
    ViewBag.Title = "Édition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start about Area -->
<section class="section-gap info-area" id="connexion">
    <div class="container">
        <div class="title text-center">
            <h1 class="mb-10">Changez votre avatar</h1>
        </div>

        <form action=/Member/EditProfile/Edit method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="mt-10">
                <div class="col-md-10">
                    <input type="file" name="Avatar" required class="single-input">
                    @Html.EditorFor(model => model.Avatar, new { htmlAttributes = new { @class = "single-input" } })
                    @Html.ValidationMessageFor(model => model.Avatar, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="mt-10">
                <button type="submit" class="genric-btn primary">Éditer les informations</button>
            </div>
        </form>
        @*TODO: add a different form (password/confirm password) in case user would like to change their password !*@
    </div>
</section>
<!-- End about Area -->
