@model Projet_ASP_books.Models.UserModel

@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="generic-banner relative">
    <div class="container">
        <div class="row height align-items-center">
            <div style="width:150px; height:150px; background-color: black; margin-right: 15px;">place pour avatar</div>
            <h1>Bonjour !</h1>
            @*Mettre un slider avec des livres ou quoi ?*@
        </div>
        Éditer les infos du profil
    </div>
</section>

<section class="section-gap info-area" id="connexion">
    <div class="container">
        <div class="title text-center">
            <h1 class="mb-10">Vos infos</h1>

            Nom:  @Model.LastName<br />
            Prénom: @Model.FirstName <br />
            <br />
            Nom d'utilisateur: @Model.Login <br />
            Informations sur vous: ..... @*//questionnaire ici ?//*@<br />

        </div>

    </div>
</section>

